<body>
  <h1> TASKLIST </h1>
  <select>
    <option *ngFor="let categoria of categorias " [value]="categoria">{{categoria}}</option>
              
  </select>
  <input [(ngModel)]="tarefa.categoria"/>
  <button (click)="cadastrarCategoria()">cadastrar categoria</button>
  <input placeholder="nome" [(ngModel)]=tarefa.nome />
  <button (click)="cadastrarTarefa()">Cadastrar</button>


  <div *ngFor="let categoria1 of categorias">
  <div class="tudo">
    <div class="coluna">
      <h3>{{categoria1}}</h3>
      <div *ngFor="let usuario of listas; index as indice ">
        <div >
          <h4>
           Tarefa:{{usuario.nome}}
           <select [(ngModel)]="usuario.categoria" (change)="alterarCategoria(usuario, $event.target.value)">
          <option *ngFor="let categoria of categorias " [value]="categoria" ></option>           
          </select>
           <button (click)="remover(indice)"> remover</button>
          </h4>
        </div>
      </div>
    </div>

    </div>
            <!-- <select [(ngModel)]="usuario.categoria" (change)="alterarCategoria(usuario, $event.target.value)">
              <option value="to-do">To-do</option>
              <option value="doing">Doing</option>
              <option value="done">Done</option>
              <option value="categorias"></option>
            </select>

            <button (click)="remover(indice)"> remover</button> -->
          
    <!-- <div class="coluna">
      <h3>DOING</h3>
      <div *ngFor="let usuario of listas; index as indice">
        <div *ngIf="usuario.categoria=='doing'">
          <h4>

            Tarefa:{{usuario.nome}}
            <select [(ngModel)]="usuario.categoria" (change)="alterarCategoria(usuario, $event.target.value)" >
              <option *ngFor="let categoria of categorias " [value]="categoria">{{categoria}}</option>
              
            </select>

            <button (click)="remover(indice)"> remover</button>

          </h4>
        </div>
      </div>
    </div>
    
    <div class="coluna">
      <h3>DONE</h3>
      <div *ngFor="let usuario of listas;  index as indice">
        <div *ngIf="usuario.categoria=='done'">
          <h4>

            Tarefa:{{usuario.nome}}
            <select [(ngModel)]="usuario.categoria" (change)="alterarCategoria(usuario, $event.target.value)">
              <option value="to-do">To-do</option>
              <option value="doing">Doing</option>
              <option value="done">Done</option>
            </select>

            <button (click)="remover(indice)"> remover</button>

          </h4>
        </div>
      </div>
    </div> -->
  </div>
</body>