@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@600&display=swap');
*{
    font-family: 'Ysabeau', sans-serif;

}
.tudo {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 30%;
}
.coluna{  
    height: 95%;
    width: 300px;
    border: 5px solid ;
    border-color: rgb(194, 226, 255) ;
    border-radius: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(194, 226, 255) ;
    box-shadow: 0 0 4px rgba(16, 12, 243, 0.6);
}
.botaoCadastrar{
    margin: 10px;
    padding: 5px ;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-color: aliceblue;
    background-color: rgb(194, 194, 250);
    color: white;
    cursor: pointer;
    font-family:Andale Mono, monospace;
    
  }
  .botaoRemover{

    padding: 5px ;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-color: aliceblue;
    background-color: rgb(238, 143, 230);
    color: white;
    cursor: pointer;
    font-family:Andale Mono, monospace;
    

  }
  .topo{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;

  }
  input {
    height: 10%;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin: 15px;
  font-size: 16px;
  box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.541);
}
input:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.6);
  
}
input::placeholder {
  color: rgb(248, 28, 200);
}
select{
    border-color:azure;
    border-radius: 7%;
    width: 150px;
    height: 30px;
    margin: 25px;
    font-family:Andale Mono, monospace;
    color: rgb(100, 100, 100);
    box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.541);
}
select:focus{
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.6);
  }
  .dentro{
    border-color:azure;
    border-radius: 7%;
    width: 150px;
    height: 10%;
    margin: 5px;
    font-family:Andale Mono, monospace;
    color: rgb(100, 100, 100);
    outline: none;
    
  }
  h2{
    color: rgb(194, 194, 250);
    text-shadow: 
             -1px -1px 0px #FFF, 
             -1px 1px 0px #FFF,                    
              1px -1px 0px #FFF,                  
              1px 0px 0px #FFF;
    
  }