<body>
  <div class="topo">
    <select [(ngModel)]="tarefa.categoria">
      <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
    </select>
    <input placeholder="nome" [(ngModel)]=tarefa.nome />
    <button (click)="cadastrarTarefa()" class="botaoCadastrar">Cadastrar</button>
  </div>
  <div class="tudo">
    <div *ngFor="let categoria of categorias">
      <div class="coluna">
        <h2>{{ categoria }}</h2>
        <div *ngFor="let tarefa of listas; index as indice">
          <div *ngIf="tarefa.categoria === categoria">
            <p>Tarefa: {{ tarefa.nome }}</p>
           
            <select [(ngModel)]="tarefa.categoria" (change)="atualizarCategoriaTarefa(tarefa, $event.target.value)" class="dentro" >
              <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
            </select>
            <button (click)="remover(indice)" class="botaoRemover">remover tarefa</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>